.parent1{
    background-image: url(https://img.freepik.com/premium-photo/flat-lay-composition-with-citrus-fruits-leaves-flowers-white-background-copy-space-banner_370312-155.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}


